shoppingCart/vendor
shoppingCart/composer.lock

extractTransformLoad/vendor
extractTransformLoad/composer.lock

polygons/vendor
polygons/composer.lock

crm/vendor
crm/composer.lock

messager/vendor
messager/composer.lock

.idea
.DS_Store